# Ignore my environment setup files
.envrc
.direnv
.tool-versions

# Don't commit built packages
dist/
**/pi
**/pi.exe

# Don't commit testing TLS certificates, etc.
supporting/*.csr
supporting/*.json
supporting/*.pem
supporting/otel-all-in-one-tls.yaml
