# These github actions will perform linting and go tests
# spell-checker: disable
---
name: go-lint

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: v2/go.mod
          cache: true
          cache-dependency-path: v2/go.sum
      - name: Verify go.mod and go.sum are up to date
        run: cd v2 && go mod tidy && git diff --exit-code -- go.mod go.sum
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: v2/go.mod
          cache: true
          cache-dependency-path: v2/go.sum
      - name: Execute linter
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: latest
          working-directory: v2
  go-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: v2/go.mod
          cache: true
          cache-dependency-path: v2/go.sum
      - name: Run go tests
        run: go test -v -short ./v2/...
