# These github actions will perform linting using pre-commit.
# yamllint disable rule:line-length
# spell-checker: disable
---
name: pre-commit

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - name: install talisman
        uses: jaxxstorm/action-install-gh-release@v1
        with:
          repo: thoughtworks/talisman
          extension-matching: disable
          rename-to: talisman
          chmod: 0755
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Execute pre-commit
        uses: pre-commit/action@v3.0.1
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - name: Execute hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
